# Set these in Vercel Project Settings > Environment Variables.
ADMIN_USERNAME=Thriumphant
ADMIN_PASSWORD=Olamilekan7pc@
SESSION_SECRET=8fK2mP9xQ7vL4nT6zR3wY5cH1jS8dA0b
UPSTASH_REDIS_REST_URL=https://hardy-spider-308522.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAABLUqAAIgcDE1YzA0M2U4MGIzOTI0NWI1ODg5MmYzZjE5NjhlNmFmMA
